<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>guesser - a guessing game that learns</title>
    <link rel="stylesheet" href="base.css">
    <script src="angular.min.js"></script>
  </head>
  
  <body>
    <h1>guesser - a guessing game that learns</h1>
    <div ng-app="" ng-controller="myController">

      <!-- First view, the welcome screen: -->
      <div ng-show="view === 'welcome'">
        <h2>Welcome, think of a thing or an animal, I will try to
          guess it!</h3>

      <p>But first, enter your name: <input type="text" ng-model="name"/>,
      and click <button ng-click="update()">Start</button> when you are
      ready.</p>
      </div>

      <!-- Second view, the questions screen: -->
      <div ng-show="view === 'question'">
        <h2>{{name}}, please answer the following question:</h2>

        <p ng-bind="theQuestion"></p>
        <p><button ng-bind="theAnswer1" 
                   ng-click="answer(current.goto1)"></button>
           <button ng-bind="theAnswer2" 
                   ng-click="answer(current.goto2)"></button></p>
      </div>

      <!-- Third view, the guessing screen: -->
      <div ng-show="view === 'guess'">
        <h2>{{name}}, I think I know what you guessed:</h2>

        <p>Is it {{theGuess}}?</p>
        <p><button ng-click="yes()">Yes</button>
           <button ng-click="no()">No</button></p>

        <p ng-show="guessedRight">Ha! Got you! Click
        <button ng-click="restart()">here</button> to play again.</p>

      </div>

      <!-- Fourth view, the learning screen: -->
      <div ng-show="view === 'learning'">
        <h2>{{name}}, OK, you won. Now please help me to learn.</h2>

        <p>What was it you thought of?
        <input type="text" ng-model="userThing"/>
        (please include an indefinite article "a" or "an")</p>
        <p>Please give me a question that distinguishes {{oldThing}}
           and {{userThing}}:
        <input type="text" ng-model="userQuestion"/></p>
        <p>The answer for {{oldThing}} is:
        <input type="text" ng-model="answerOld"/>
        The answer for {{userThing}} is:
        <input type="text" ng-model="answerNew"/></p>
        <p ng-show="! confirmed">
        <button ng-click="submit()">Submit this</button></p>

        <div ng-show="confirmed">
          <p>Thank you very much, your new question has been
          submitted. Click
          <button ng-click="restart()">here</button> to play again.</p>
        </div>
      </div>
    </div>
    <script>
      function myController($scope, $http) {
        $scope.baseurl = "http://192.168.10.116:8529/_db/_system/dev/guesser/";
        $scope.name = "";

        $scope.restart = function () {
          $scope.currentKey = "root";
          $http.get($scope.baseurl + "get/root")
            .success(function(response) {
                       console.log(response);
                       $scope.current = response;
                     })
            .error(function(response) {
                     console.log(response);
                     $scope.current = {};
                     alert("AJAX call failed");
                   });
            $scope.view = "welcome";
        }

        $scope.restart();

        $scope.update = function () {
          if (! $scope.current.isLeaf) {
            $scope.theQuestion = $scope.current.question;
            $scope.theAnswer1 = $scope.current.answer1;
            $scope.theAnswer2 = $scope.current.answer2;
            $scope.view = "question";
          }
          else {
            $scope.theGuess = $scope.current.guess;
            $scope.guessedRight = false;
            $scope.view = "guess";
          }
        }

        $scope.answer = function (newkey) {
          $http.get($scope.baseurl + "get/"+newkey)
            .success(function(response) {
                       console.log(response);
                       $scope.current = response;
                       $scope.currentKey = newkey;
                       $scope.update();
                     })
            .error(function(response) {
                     console.log(response);
                     alert("AJAX call failed");
                   });
        }
          
        $scope.yes = function () {
          $scope.guessedRight = true;
        }

        $scope.no = function () {
          $scope.oldThing = $scope.current.guess;
          $scope.userThing = "";
          $scope.userQuestion = "";
          $scope.answerOld = "";
          $scope.answerNew = "";
          $scope.confirmed = false;
          $scope.view = "learning";
        }

        $scope.submit = function () {
          if ($scope.answerOld === $scope.answerNew ||
              $scope.answerOld === "" ||
              $scope.answerNew === "") {
            alert("Old and new answer must be different and not empty");
            return;
          }
          if ($scope.userQuestion[$scope.userQuestion.length-1] !== "?") {
            $scope.userQuestion += "?";
          }
          var a = { oldLeaf: $scope.current._key,
                    newQuestion: {
                      question: $scope.userQuestion,
                      answer1:  $scope.answerOld,
                      answer2:  $scope.answerNew,
                      goto1:    $scope.current._key,
                      isLeaf:   false
                    },
                    newLeaf: { 
                      isLeaf: true,
                      guess: $scope.userThing
                    }
                  };
          $http.put($scope.baseurl + "put", a)
            .success(function(response) {
                       console.log(response);
                       if (response.error === true) {
                         alert("Could not submit new question!");
                       }
                       else {
                         $scope.confirmed = true;
                       }
                     })
            .error(function(response) {
                     console.log(response);
                     alert("AJAX call failed, cannot update");
                   });
        }
      }
    </script>
  </body>
</html> 
